.header {
    margin: 16px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #fff;
    color: var(--text-dark);
    border-radius: 12px;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header__center {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header__city {
    margin-left: 70px;
    padding: 22px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__link-city:hover.header__link:not(.active):hover {
    background-color: transparent;
    color: var(--orange);
}

.header__flag {
    display: flex;
    flex-direction: column;
}

.header__flag span {
    width: 20px;
    height: 8px;
    border-radius: 2px;
}

.header__flag span:first-child {
    background-color: #155DB9;
}

.header__flag span:last-child {
    background-color: #FCD330;
}

.header__lang {
    border: none;
    cursor: pointer;
    font-weight: 500;
    background-color: transparent;
    padding: 22px 18px 22px 12px;
    transition: color 300ms ease;
}

.header__lang:hover {
    color: var(--orange);
}

.header__nav {
    margin-left: 6px;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 6px;

}

.header__item {}

.header__link.active {
    background-color: rgba(255, 102, 51, 0.15);
    color: var(--orange);
}

.header__link.active:hover {
    background-color: rgba(161, 66, 34, 0.15);
}

.header__link:not(.active):hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.header__link {
    padding: 22px 18px;
    font-weight: 500;
    border-radius: 12px;
}

.header__phone {
    display: flex;
    align-items: center;
    gap: 12px;
    transition: all 300ms ease;
    font-weight: 500;
}

.header__phone:hover {
    color: var(--orange);
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header__action {}

.header__notification {
    position: relative;
    z-index: 1;
}

.header__notification-count {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    color: #fff;
    z-index: 2;
    position: absolute;
    right: -8px;
    top: -8px;
}

.header__action-btn {
    border: 1px solid #D2D2D7;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.header__action-btn:hover {
    background-color: var(--dividing);
    color: var(--orange);
}

.header__action-btn:hover svg path {
    fill: var(--orange);
}

.header__action-btn.active {
    background-color: var(--orange);
    border-color: var(--orange);
}

.header__action-btn.active svg path {
    fill: #fff;
}

.header__action-btn.active:hover {
    background-color: var(--orange-hover);
    border-color: var(--orange-hover);
}

.header__favorite {}

.header__profile {}

.header__cart {
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--gray);
    font-weight: 500;
}

/* categories Nav */

.categories-nav {
    margin-top: 16px;
}

.categories-nav__container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.categories-nav__list {
    padding: 6px 16px;
    background-color: #fff;
    border-radius: 12px;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    align-items: stretch;
}

.categories-nav__item {
    padding: 6px 19px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.categories-nav__item.disabled .categories-nav__link {
    color: #9E9E9E;
}

.categories-nav__item svg {
    flex-grow: 1;
}

.categories-nav__link {
    font-weight: 500;
    color: var(--text-dark);
}

.categories-nav__item:hover .categories-nav__item-svg--hover {
    fill: var(--orange);
}

.categories-nav__item.active {
    color: var(--orange);
}

.categories-nav__item.active .categories-nav__item-svg--hover {
    fill: var(--orange);
}

.disabled {}


/* TOP  */

.top {
    margin-top: 48px;
    margin-bottom: 124px;
}

.top__inner {
    display: flex;
}

.top__left {
    color: var(--text-dark);
    padding: 118px 47px 118px 94px;
    max-width: 565px;
}

.top__title {
    font-size: 64px;
    line-height: 82px;
    font-weight: 700;
    margin-bottom: 16px;
}

.title {}

.top__subtitle {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 28px;
    color: #686870;
    display: block;
}

.top__btn {}

.top__right {}

.top__swiper {
    --swiper-pagination-color: var(--orange);
    --swiper-pagination-bullet-inactive-color: #D2D2D7;
    --swiper-pagination-bullet-horizontal-gap: 7px;
    width: 870px;
    height: 686px;
}

.swiper-slide {}

.swiper-pagination {
    text-align: left;
}

.top__swiper .swiper-button-prev {
    display: none;
}

.top__swiper .swiper-button-next {
    display: none;
}

.top__swiper .swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 35px;
}

.swiper-scrollbar {}


/* foood */

.food {
    margin-bottom: 124px;
}

.food__inner {}

.food__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.food__title {}

.food__btn {}

.food__list {
    --count: 4;
    --gap: 20px;

    display: grid;
    grid-template-columns: repeat(var(--count), 1fr);
    gap: var(--gap);

}

.food__item {
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    height: 596px;
}

.food__item-header {
    position: relative;
    margin-bottom: 12px;
}

.food__item-tabs {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: stretch;
    gap: 6px;
}

.food__item-tab {
    padding: 6px 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    border-radius: 8px;
}

.tab-hit {
    color: var(--orange);
    background-color: var(--orange-bg);
}

.tab-new {
    color: var(--accent);
    background-color: var(--accent-bg);
}

.food__item__header-img {}

.food__item__header-img img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.food__item-filters {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: stretch;
    gap: 8px;
}

.food__item-filter {}

.food__item-body {
    flex-grow: 1;
    margin-bottom: 12px;
}

.food__item-title {
    font-size: 27px;
    line-height: 32px;
    margin-bottom: 12px;
}

.food__item-weight {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    gap: 4px;
    color: var(--orange);
    margin-bottom: 8px;
}

.food__item-characteristics {
    display: inline-flex;
    flex-wrap: wrap;
    color: var(--gray);
}

.food__item-characteristic {}

.food__item-footer {
    display: flex;
    align-items: center;
}

.food__item-price {
    font-weight: 700;
    color: var(--gray);
    font-size: 24px;
    flex-grow: 1;
}

.food__item-price strong {
    font-size: 36px;
    color: var(--text-dark);
}

.food__item-favorite {
    margin-right: 12px;
}

.food__item-cart {}

/* Footer */    

.footer{
    
    padding: 64px 0 118px 0px;
    background-color: #fff;
}


.footer__inner{
    display: grid;
    grid-template-columns: 306px 101px 168px 137px 174px 306px;
    column-gap: 88px;
    margin-bottom: 34px;
}


.footer__contacts{
    width: 246px;
}
.footer__logo{
    display: inline-block;
    margin-bottom: 24px;
    object-fit: cover;
}

.footer__logo img{
    object-fit: inherit;
    object-position: right;
}

.footer__links{
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    
}

.footer__contacts-text{
    font-size: 14px;
    color: var(--footer-gray);
}

.footer__nav{
    width: 101px;
}

.footer__list-text{
    color: var(--gray);
    font-size: 14px;
    margin-bottom: 12px;
}

.footer__list-item{
    color: var(--text-dark);
    font-weight: 500;
    margin-bottom: 8px;
}

.footer__list-item:hover{
    color: var(--orange)
}

.footer__list-item:last-child{
    margin-bottom: 0;
}

.footer__order{
    width: 168px;
}

.footer__work-text{
    color: var(--footer-gray);
}

.footer__social-icon{
    width: 64px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

    

.footer__social-link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    width: 174px;
    padding: 10px 12px;
    background-color: var(--dividing);
}

.footer__social-link img{

}

.footer__social-link span{
    color: #039BE5;
    font-weight: 500;
}

.footer__descr{


}

.footer__descr-title{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 8px;
}

.footer__descr-text{
    color: var(--footer-gray);
    margin-bottom: 18px;
}

.footer__descr-link{
    display: inline-block;
    padding: 16px 42px;
    border-radius: 15px;
    background-color: var(--dividing);
}

.footer__descr-link{
    color: #00CC2D;
}

.footer__info{
    display: flex;
    justify-content: space-between;
}

.footer__info-link{
    color: var(--text-dark);
    font-size: 14px;
    font-weight: 500;
}

.footer__info-icons{
    width: 115px;
    display: flex;
    justify-content: space-between;
}

.footer__info-img{
    
}





.promotion {
    margin-bottom: 146px;

}

.promotion-swiper {
    --swiper-navigation-sides-offset: 0px;
    --swiper-pagination-color: var(--orange);
    --swiper-pagination-bullet-inactive-color: #D2D2D7;

    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-width: 11px;
    --swiper-pagination-bullet-height: 11px;

}

.promotion-swiper.swiper {
    position: relative;
}

.promotion-swiper .swiper-wrapper {
    position: relative;
}

.promotion__wrapper {
    display: flex;
    background-color: #fff;
    border-radius: 24px;
    border-bottom-right-radius: 80px;
    width: 1000%;
    justify-content: space-between;
    height: 424px;
}

.swiper-slide {
    display: flex;
    justify-content: space-between;
    padding-top: 188px;
}

.promotion__content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 68px 0 72px 98px;
    max-width: 486px;
}

.promotion__title {
    font-size: 54px;
    margin-bottom: 16px;
}

.promotion__subtitle {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 34px;
    color: var(--text-dark);
    max-width: 351px;
}

.promotion__bottom {
    display: flex;
    align-items: center;
    gap: 24px;
}

.promotion__btn {}

.link-site {}

.food__item-price {}

.promotion__right {
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-between;
}

.promotion__slide-img {
    margin-right: 68px;
    position: relative;
    width: 916px;
    height: 536px;
    margin-top: -188px;
}

.promotion__slide-img img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.promotion__text {
    display: inline-block;
    padding: 24px 34px 24px 46px;
    border-top-left-radius: 500px;
    border-bottom-right-radius: 150px;
    background-color: var(--orange);
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    margin-right: 1px;
}

.promotion-swiper .swiper-pagination {
    position: static;
    text-align: center;
    margin-top: 30px;
}

.promotion-swiper .swiper-pagination-bullet .swiper-pagination-bullet-active {}

.swiper-button-prev {
    display: none;
}

.promotion-swiper .swiper-button-next {
    background-color: #27272724;
    width: 75px;
    height: 162px;
    border-radius: 12px;
    /* transform: translateX(50%); */
    transition: background-color 300ms ease;
    opacity: 1;

}

.promotion-swiper .swiper-button-next:hover {
    background-color: #2727273f;
}


.promotion__btn {
    background-color: var(--dividing);
}

.promotion-swiper .swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 24px;
    color: #1D1D1F;
    font-weight: 600;
}

.delivery {
    margin-bottom: 226px;

}

.delivery__inner {}

.delivery__title {
    text-align: center;
    max-width: 1246px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.delivery__info {
    justify-content: center;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.delivery__info-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.delivery__info-circle {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid;

}

.green {
    border-color: #7CB342;
    background-color: rgba(124, 179, 66, 0.24);
}

.orange {
    border-color: #FBC02D;
    background-color: rgba(251, 192, 45, 0.24);
}

.red {
    border-color: #FF5252;
    background-color: rgba(255, 82, 82, 0.24);
}

.delivery__info-text {
    font-size: 20px;
    line-height: 28px;
    color: var(--text-dark);
}

.delivery__map {
    width: 100%;
    background-size: cover;
    background-image: url(./assets/images/home/site/map.png);
    height: 671px;
}


.app {
    margin-bottom: 124px;
}

.app .container {
    position: relative;
}

.app__inner {
    color: var(--text-dark);
}

.app__content {
    display: flex;
    flex-direction: column;
    padding: 85px 0 85px 98px;
    border-radius: 24px;
    background-color: #fff;
}

.app__title {
    max-width: 540px;
    font-size: 54px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

.app__subtitle {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 40px;
    max-width: 462px;
}

.app__links {
    display: flex;
    gap: 13px;
}

.app__play-market {}

.app__phone {
    position: absolute;
    top: -118px;
    right: 109px;
}

.text-block {
    margin: 0 auto 34px;
    max-width: 778px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.text-block-text {
    color: #9E9E9E;
    margin-bottom: 8px;
}

.text-block__btn {
    display: flex;
    align-items: center;
    justify-content: end;
    align-self: flex-end;
    color: var(--accent);
    font-weight: 500;
    gap: 4px;
    transition: all 300ms ease;
}

.text-block__btn:hover {
    color: var(--accent-hover);
}

.text-block__btn:hover svg path {
    fill: var(--accent-hover);
}