.header {
    margin: 16px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #fff;
    color: var(--text-dark);
    border-radius: 12px;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header__center {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header__city {
    margin-left: 70px;
    padding: 22px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__link-city:hover.header__link:not(.active):hover {
    background-color: transparent;
    color: var(--orange);
}

.header__flag {
    display: flex;
    flex-direction: column;
}

.header__flag span {
    width: 20px;
    height: 8px;
    border-radius: 2px;
}

.header__flag span:first-child {
    background-color: #155DB9;
}

.header__flag span:last-child {
    background-color: #FCD330;
}

.header__lang {
    border: none;
    cursor: pointer;
    font-weight: 500;
    background-color: transparent;
    padding: 22px 18px 22px 12px;
    transition: color 300ms ease;
}

.header__lang:hover {
    color: var(--orange);
}

.header__nav {
    margin-left: 6px;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 6px;

}

.header__item {}

.header__link.active {
    background-color: rgba(255, 102, 51, 0.15);
    color: var(--orange);
}

.header__link.active:hover {
    background-color: rgba(161, 66, 34, 0.15);
}

.header__link:not(.active):hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.header__link {
    padding: 22px 18px;
    font-weight: 500;
    border-radius: 12px;
}

.header__phone {
    display: flex;
    align-items: center;
    gap: 12px;
    transition: all 300ms ease;
    font-weight: 500;
}

.header__phone:hover {
    color: var(--orange);
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header__action {}

.header__notification {
    position: relative;
    z-index: 1;
}

.header__notification-count {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    color: #fff;
    z-index: 2;
    position: absolute;
    right: -8px;
    top: -8px;
}

.header__action-btn {
    border: 1px solid #D2D2D7;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.header__action-btn:hover {
    background-color: var(--dividing);
    color: var(--orange);
}

.header__action-btn:hover svg path {
    fill: var(--orange);
}

.header__action-btn.active {
    background-color: var(--orange);
    border-color: var(--orange);
}

.header__action-btn.active svg path {
    fill: #fff;
}

.header__action-btn.active:hover {
    background-color: var(--orange-hover);
    border-color: var(--orange-hover);
}

.header__favorite {}

.header__profile {}

.header__cart {
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--gray);
    font-weight: 500;
}

/* categories Nav */

.categories-nav {
    margin-top: 16px;
}

.categories-nav__container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.categories-nav__list {
    padding: 6px 16px;
    background-color: #fff;
    border-radius: 12px;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    align-items: stretch;
}

.categories-nav__item {
    padding: 6px 19px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.categories-nav__item svg {
    flex-grow: 1;
}

.categories-nav__link {
    font-weight: 500;
    color: var(--text-dark);
}

.categories-nav__item:hover .categories-nav__item-svg--hover {
    fill: var(--orange);
}

.categories-nav__item.active {
    color: var(--orange);
}

.categories-nav__item.active .categories-nav__item-svg--hover {
    fill: var(--orange);
}

.disabled {}


/* TOP  */



.top {
    margin-top: 48px;
    margin-bottom: 124px;
}

.top__inner {
    display: flex;
}

.top__left {
    color: var(--text-dark);
    padding: 118px 47px 118px 94px;
    max-width: 565px;
}

.top__title {
    font-size: 64px;
    line-height: 82px;
    font-weight: 700;
    margin-bottom: 16px;
}

.title {}

.top__subtitle {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 28px;
    color: #686870;
    display: block;
}

.top__btn {}

.top__right {}

.top__swiper {
    --swiper-pagination-color: var(--orange);
    --swiper-pagination-bullet-inactive-color: #D2D2D7;
    --swiper-pagination-bullet-horizontal-gap: 7px;
    width: 870px;
    height: 686px;
}


.swiper {}

.swiper-wrapper {}

.swiper-slide {}

.swiper-pagination {
    text-align: left;
}

.top__swiper .swiper-button-prev {
    display: none;
}

.top__swiper .swiper-button-next {
    display: none;
}

.top__swiper .swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 35px;
}

.swiper-scrollbar {}