

.account-page {display: flex; gap: 24px; margin-top: 32px; margin-bottom: 64px;}

.account-page__menu { display: flex; flex-direction: column; gap: 12px;}
.account-page__menu-item { display: flex; gap:12px ; padding: 10px 12px; align-items: center;}
.account-page__menu-item-img { width: 46px; height: 46px; background-color: #fff; border-radius: var(--primary-border-radius); display: flex; justify-content: center; align-items: center;}
.account-page__menu-item.active { color: #fff; background-color: var(--accent);}
.account-page__address { display: flex; gap: 16px; align-items: center; margin-bottom: 24px;}
.account-page__title { font-size: 48px; font-weight: 700; color: var(--text-dark);}
.account-page__address .btn { display: flex; align-items: center; width: auto;}
.account-page__body { width: 100%;}
.account-page__item { flex-grow: 1;justify-content: space-between;}