/* Footer */

.footer {
  padding: 64px 0 128px 0px;
  background-color: #fff;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  margin-bottom: 34px;
}

.footer__center {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.footer__center > * {
}

.footer__logo {
  display: inline-block;
  margin-bottom: 24px;
}

.footer__list {
  display: flex;
  flex-direction: column;
}

.footer__links {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.footer__links-item:hover img {
  opacity: 0.85;
}

.footer__contacts-text {
  font-size: 14px;
  color: var(--footer-gray);
}

.footer__nav {
  width: 101px;
}

.footer__list-text {
  color: var(--gray);
  font-size: 14px;
  margin-bottom: 12px;
}

.footer__list-item {
  margin-bottom: 8px;
  font-weight: 500;
  color: var(--text-dark);
  line-height: 24px;
}

.footer__list-link {
  white-space: nowrap;
}

.footer__list-item a:hover {
  color: var(--orange);
}

.footer__list-item:last-child {
  margin-bottom: 0;
}

.footer__order {
  width: 168px;
}

.footer__work-text {
  color: var(--footer-gray);
}

.footer__social-icon {
  width: 64px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.footer__link-facebook:hover > rect {
  fill: #2f4ba4;
}

.footer__link-instagram:hover > rect {
  fill: url(#rg);
}

.footer__btn-link {
  border-radius: var(--primary-border-radius);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 174px;
  padding: 10px 12px;
  background-color: var(--dividing);
}

.footer__btn-link:hover {
  background-color: #f0f0f0;
}

.footer__social-link span {
  color: #039be5;
  font-weight: 500;
}

.footer__descr {
  display: flex;
  flex-direction: column;
}

.footer__descr-link {
  width: 100%;
}

.footer__descr-title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 8px;
}

.footer__descr-text {
  color: var(--footer-gray);
  margin-bottom: 18px;
}

.footer__descr-link {
  display: block;
  padding: 16px 42px;
  border-radius: 15px;
  background-color: var(--dividing);
}

.footer__descr-link {
  color: #00cc2d;
}

.footer__info {
  display: flex;
  justify-content: space-between;
}

.footer__info-link {
  color: var(--text-dark);
  font-size: 14px;
  font-weight: 500;
}

.footer__info-link:hover {
  text-decoration: underline;
}

.footer__info-icons {
  width: 115px;
  display: flex;
  justify-content: space-between;
}

.footer__info-img {
}
