@media (min-width: 1440px) {
}
@media (max-width: 1400px) {
    .food__filter-food {
        flex-wrap: wrap;
        gap: 16px;
    }
    .food__filter-composition {
        align-self: end;
        flex-grow: 1;
        justify-content: end;
    }

    .footer__inner {
        flex-wrap: wrap;
    }

    .footer__left {
        flex-shrink: 0;
    }

    .footer__center {
        flex-shrink: 0;
    }
}

@media (max-width: 1320px) {
    .header__phone {
        display: none;
    }
}

@media (max-width: 1280px) {
    .header-mobile__inner {
        padding: 8px 16px;
    }

    .header-mobile {
        display: block;
    }

    .top__inner {
        flex-direction: column-reverse;
    }

    .top__left {
        max-width: 70%;
        width: 100%;
        padding: 0px 16px;
        margin-top: 48px;
        margin-bottom: 32px;
    }

    .top__swiper {
        height: 600px;
    }

    .top__right {
        width: 100%;
    }

    .food__list {
        --count: 3;
    }

    .title {
        font-size: 32px;
        line-height: 1.5;
    }

    .header__actions {
        margin-left: auto;
        margin-right: 24px;
    }

    .header-mobile__inner .logo img {
        max-height: 20px;
        width: auto;
    }

    .categories-nav__inner {
        display: flex;
        flex-direction: column-reverse;
    }

    .breadcrumbs {
        margin-top: 12px;
        position: static;
    }
}

@media (max-width: 1024px) {
    .food__list {
        --count: 2;
    }
    .header__nav {
        display: none;
    }

    .header__link-city {
        display: none;
    }

    .food__item {
        padding: 12px;
    }

    .top__swiper {
        height: 500px;
    }

    .top__left {
        max-width: 100%;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .top__title {
        font-size: 48px;
        line-height: 1.5;
    }

    .footer__right {
        display: none;
    }

    .footer {
        padding: 64px 0;
    }
    .footer__center > * {
        width: calc(100% / 2 - 12px);
    }
    .footer__center {
        flex-wrap: wrap;
        width: 100%;
        flex-grow: 1;
    }
    .app__content {
        padding: 32px;
    }
    .app__inner {
        padding: 16px;
    }

    .app__title {
        font-size: 40px;
    }
    .categories-nav__container {
        /* max-width: 1606px; */

        margin: 0 auto;
        /* padding: 0 15px; */
    }
    .categories-nav__list {
        overflow-x: auto;
        justify-content: start;
    }

    .promotion__slide-img {
        width: 100%;
        margin-top: 0px;
        margin-right: 0px;
    }
    .promotion__slide-img img {
        height: 100%;
        object-fit: cover;
        object-position: center left;
    }
    .promotion__slide-img::after {
        content: "";
        display: block;
        padding-bottom: 60%;
    }
    .promotion__text {
        padding: 39px 86px 24px 46px;
    }
    .promotion__content {
        justify-content: center;
    }
    .promotion__content {
        padding: 48px 0 48px 48px;
    }

    .food__filter-meats {
        display: none;
    }
    .food__ingredients {
        display: none;
    }
    .food__filter-list {
        display: none;
    }
    .food__filter-types {
        display: none;
    }
    .food__select-box {
        display: none;
    }
    /*.category__list.food__list { display: none;}*/
    .filters-menu__mobile-inner {
        padding: 0 18px;
        display: flex;
        flex-direction: column;
    }
    .food__filter-btns .food__select-box {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border-radius: 12px;
        padding: 12px 16px;
    }
    .food__filter-btns .food__select {
        font-weight: 500;
        color: var(--text-dark);
    }
    .filters-menu__mobile {
        overflow-y: auto;
        position: fixed;
        inset: 0;
        background: #fff;
        z-index: 999;
        display: none;
    }
    .filters-menu__mobile.active {
        display: block;
    }
    .filters-menu__header {
        margin-bottom: 32px;
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
    }
    .filter-menu__item {
        display: flex;
        flex-direction: column;
    }
    .filter-menu__item + .filter-menu__item {
        margin-top: 24px;
    }

    .filters-menu__title {
        font-size: 24px;
        font-weight: 700;
    }
    .filter-menu__item-span {
        font-size: 18px;
        color: var(--text-gray);
        margin-bottom: 16px;
    }

    .filters-menu__mobile .food__filter-list {
        flex-wrap: wrap;
        display: flex;
    }
    .filters-menu__mobile .food__filter-item {
        background-color: var(--background);
        font-weight: 500;
    }
    .filters-menu__mobile .food__filter-item.active {
        background-color: var(--orange);
        color: #fff;
    }
    .filters-menu__mobile .food__filter-types {
        flex-wrap: wrap;
        display: flex;
        height: auto;
    }
    .filters-menu__mobile .food__filter-type {
        background-color: var(--background);
        font-weight: 500;
    }
    .filters-menu__mobile .food__filter-type.active {
        border-color: var(--border-active);
        background: #fff;
    }
    .filters-menu__mobile .food__ingredients-item {
        background-color: var(--background);
        font-weight: 500;
        border-color: transparent;
    }
    .filters-menu__mobile .food__ingredients-item.active {
        border-color: var(--border-active);
        background: #fff;
    }
    .filters-menu__footer {
        display: flex;
        gap: 12px;
        margin-top: 32px;
    }
    .filters-menu__footer .link-site {
        background-color: var(--background);
    }
    .filters-menu__footer .btn {
        width: auto;
    }

    /*.food__list {*/
    /*    --count: 2;*/
    /*}*/

    .food__item__header-img img {
        width: 100%;
    }
    .food__item-footer {
        flex-wrap: wrap;
    }

    .promotion__text {
        padding: 16px 34px 16px 46px;
        font-size: 20px;
        right: 10px;
    }
}

@media (max-width: 768px) {
    .top__swiper {
        height: 367px;
    }

    .title {
        font-size: 36px;
        line-height: 1.5;
    }

    .food__list {
        --count: 2;
        --gap: 12px;
    }

    .food__item-characteristic {
        font-size: 14px;
    }

    .food__item {
        height: auto;
    }

    .app__inner {
        flex-direction: column-reverse;
    }
    .app__phone {
        width: 50%;
    }

    .filters-menu__mobile .food__filter-type {
        padding: 12px 16px;
    }
    .filters-menu__mobile .food__ingredients-item {
        padding: 12px 16px;
    }

    .promotion__text {
        /* color: var(--orange); background: transparent;*/

        font-weight: 600;
    }

    .header__action-btn {
        padding: 8px;
    }

    .header__center {
        display: none;
    }

    .header__actions {
        margin-right: 0px;
    }

    .logo img {
        object-fit: cover;
        width: 31px;
        height: 28px;
    }

    .header__inner {
        padding: 8px 12px;
    }

    .food__item-price {
        font-size: 18px;
    }

    .food__item-price strong {
        font-size: 28px;
    }

    .btn-add-favorite {
        width: 40px;
        height: 40px;
    }

    .btn-add-cart {
        height: 40px;
    }

    .food__item-tab {
        padding: 2px 8px;
    }
}

@media (max-width: 665px) {
    .breadcrumbs {
    }
    .breadcrumb:last-child {
        display: none;
    }
    .footer__inner {
        flex-direction: column;
    }
    .footer__center {
        gap: 18px;
    }
    .footer__links {
        justify-content: start;
        gap: 12px;
    }
    .promotion__wrapper {
        flex-direction: column-reverse;
    }
    .promotion__slide-img img {
        object-fit: contain;
    }
    .promotion__slide-img {
        height: unset;
        width: 248px;
    }
    .food__filter-btns {
        width: 100%;
        justify-content: center;
    }
    .promotion__wrapper {
        height: auto;
        border-radius: 12px;
        padding: 16px;
        padding-bottom: 24px;
    }
    .promotion__right {
        align-items: start;
    }
    .promotion__content {
        padding: 0px;
    }
    .promotion__text {
        background: var(--orange);
        justify-content: center; /* width: 100%;*/
        text-align: center;
        position: absolute;
        bottom: 0px;
        right: 0px;
        padding: 12px 12px 12px 22px;
    }
    .promotion-swiper .swiper-button-next,
    .promotion-swiper .swiper-button-prev {
        display: none;
    }
    .promotion__bottom {
        padding-bottom: 32px;
    }
    .promotion__title {
        font-size: 24px;
    }
    .promotion__subtitle {
        font-size: 16px;
    }
    .delivery,
    .app,
    .promotion,
    .food {
        margin-bottom: 48px;
    }

    .footer__inner {
        justify-content: center;
    }

    .footer__contacts {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .header__cart {
        display: none;
    }
}

@media (max-width: 480px) {
    .top {
        margin-bottom: 48px;
    }

    .top__swiper .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        display: flex;
        justify-content: center;
        left: unset;
        --swiper-pagination-bullet-inactive-color: #fff;
    }

    .top__swiper .swiper-pagination-bullet {
        /* background: var(--swiper-pagination-bullet-inactive-color); */
    }

    .top__left {
        margin-top: 24px;
        margin-bottom: 12px;
    }

    .top__inner {
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
    }

    .top__title {
        font-size: 32px;
        margin-bottom: 12px;
    }

    .top__subtitle {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .top__btn {
        width: 100%;
        white-space: nowrap;
        justify-content: center;
        align-items: center;
    }

    .top__btn svg {
        display: none;
    }

    .food__list {
        --count: 1;
    }

    .food__item__header-img {
        position: relative;
        width: 100%;
    }

    .food__item__header-img {
    }

    .food__item__header-img::after {
        content: "";
        padding-bottom: 100%;
        display: block;
    }

    /*  {content: ""; display: block; padding-bottom: 60%;} */
    .food__item__header-img img {
        /*width: 100%;
        height: 96px;
        min-width: 96px;
        position: static;
        top: 0;
        left: 0;
        object-fit: cover*/

        width: 100%;
        height: 100%;
        object-fit: contain;
        position: absolute;
        top: 0;
        left: 0;
        object-position: center center;
    }

    .food__item {
        flex-direction: row;
    }

    .food__header {
        justify-content: center;
        margin-bottom: 24px;
    }

    .food__title {
        margin-bottom: 0px;
    }

    .food__btn {
        display: none;
    }

    .food__item__header-img {
    }

    .food__item-header {
        width: 40%;
    }

    .food__item-body {
        margin-left: 12px;
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
        width: 70%;
    }

    .food__item-filters {
        display: none;
    }

    .food__item-tabs {
        top: -28px;
        left: -24px;
    }

    .food__item-tab {
        font-size: 14px;
    }

    .food__item-footer {
        margin-top: 8px;
    }

    .food__item-title {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 6px;
    }

    .food__item-characteristic {
        font-size: 12px;
    }

    .food__item-weight {
        font-size: 12px;
    }

    .food__item-characteristics {
        margin-bottom: 6px;
    }

    .food__item-price {
        font-size: 16px;
        flex-grow: 0;
    }

    .food__item-price strong {
        font-size: 24px;
        line-height: 1.5;
    }

    .food__item-weight {
        margin-bottom: 6px;
    }

    .food__item-footer {
        margin-top: 0px;
    }

    .title {
        font-size: 24px;
        line-height: 1.5;
    }

    .delivery__info {
        flex-direction: column;
    }

    .delivery__info {
        align-items: start;
    }

    .food__item-favorite {
        width: 40px;
        height: 40px;
    }

    .food__item-cart {
        width: 56px;
        height: 40px;
    }

    .delivery__map {
        height: 300px;
    }

    .app__title {
        font-size: 24px;
        margin-top: 16px;
    }
    .app__subtitle {
        font-size: 16px;
    }
    .app__content {
        padding: 0px;
    }

    /*.header-mobile .logo { display: none;}*/

    .categories-nav__link {
        display: none;
    }
    .categories-nav__item {
        background-color: #fff;
        border-radius: 12px;
        padding: 8px;
        width: 54px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .categories-nav__item > * {
        scale: 0.8;
    }
    .categories-nav__list {
        background-color: transparent;
        padding: 0px;
        padding-bottom: 6px;
    }
    .header-mobile__inner {
        padding: 8px 12px;
    }
    .header__lang {
        padding: 22px 6px;
    }
    .header__actions {
        gap: 4px;
    }
    .categories-nav {
        margin-top: 8px;
    }
    .header {
        margin-bottom: 0px;
    }

    .food__filter-btn span {
        display: flex;
    }
    .food__filter-btns {
        justify-content: space-between;
        gap: 12px;
        flex-wrap: wrap;
    }
    .food__filter-btn {
        width: auto;
        flex-grow: 1;
        justify-content: center;
        height: 48px;
    }
    .food__filter-btn svg {
        height: inherit;
        width: auto;
    }
    .food__select-box {
        flex-grow: 1;
    }
    .category {
        margin-top: 32px;
    }
    .food__filter-types {
        gap: 12px;
    }
    .food__ingredients-list {
        gap: 12px;
    }
    .food__ingredients-item img {
        width: 48px;
        height: 32px;
    }
    button.filters-menu__mobile .food__filter-type {
        padding: 12px 13px;
    }
}

@media (max-width: 375px) {
    .top__swiper {
        height: 300px;
    }
    .top__title {
        font-size: 28px;
        margin-bottom: 12px;
    }

    .footer__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__center {
        flex-direction: column;
    }
    .footer__center {
        align-items: center;
    }
    .footer__list-text,
    .footer__list-item {
        text-align: center;
    }
    .footer__info {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
    .footer__social {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 320px) {
}
