body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.product {
    flex-grow: 1;
    margin-top: 32px;
    position: relative;
}

.product-advertising {
    position: absolute;
    background-color: rgba(29, 29, 31, 0.85);
    backdrop-filter: blur(9px);
    display: flex;
    align-items: center;
    width: 363px;
    color: #fff;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    z-index: 3;
    top: 150px;
}

.product-advertising img {
    object-fit: cover;
    position: absolute;
    top: -22px;
}

.product-advertising__content {
    margin-left: 24px;
    padding: 24px 24px 24px 120px;
}

.product-advertising__title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 8px;
}

.product-advertising__price strong {
    opacity: 1;
    margin-right: 5px;
    font-size: 18px;
    font-weight: 700;
}

.product-advertising__price {
    opacity: 0.8;
    font-size: 14px;
}

.product__card-wrapper {
    position: relative;
}

.product_btn-prev,
.product_btn-next {
    position: absolute;
}

.product_btn-prev {
    left: 0;
    /* top: 170px; */
    top: 50%;
    transform: translate(-115%, -30%);
}

.product_btn-next {
    right: 0;
    /* top: 170px; */
    top: 50%;
    transform: translate(115%, -30%);
    /* margin-top: 31.5px; */
}

.product__card {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 88px;
}

.product__left {
    position: relative;
}

.product__filters {
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    position: absolute;
    top: 0;
    left: 0;
}

.product__filter {
    padding: 9px 12px;
    flex-grow: 0;
    display: flex;
    gap: 8px;
    border-radius: 8px;
}

.product__filter span {
    font-size: 12px;
    line-height: 16px;
}

.vegan {
    background-color: #D9F4C5;
    color: #6BC026;
}

.spicy {
    background-color: #FBDCD5;
    color: #EB5757;
}

.product__img {}

.product__img img {
    object-fit: cover;
}

.product__right {
    display: flex;
    flex-direction: column;
    color: var(--text-dark);
}

.product__tabs {
    margin-bottom: 8px;

}

.product__tab {
    padding: 6px 10px;
    border-radius: 8px;
}

.product__content {}

.product__slick {
    display: flex;
    gap: 40px;
}



.product__title {
    margin-bottom: 16px;
}

.product__options {
    max-width: 702px;
    overflow: hidden;
}

.product__weight {
    color: var(--orange);
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 24px;
}

.product__composition {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.product__composition-wrap {
    display: flex;
    overflow-x: hidden;
    position: relative;
}

.product__composition-btn {
    position: absolute;
    right: -8px;
    top: 0;
    bottom: 0;
    margin-left: 8px;
    padding: 0 19.5px;
    border-radius: 8px;
    background-color: #fff;
    outline: none;
}

.product__composition-btn.disabled {
    cursor: not-allowed;
    background-color: #dadada;
}

.product__composition-btn.disabled:hover {
    background-color: #dadada;
}

.product__composition-btn:hover {
    background-color: #dadada;
}

.product__composition-title {
    margin-bottom: 12px;
    font-weight: 500;
}

.product__composition-list {
    transition: transform 300ms ease;
    --width-item: 124px;
    display: flex;
}

.product__composition-item+.product__composition-item {
    margin-left: 8px;
}

.product__composition-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 12px;
    background-color: #fff;
    border-radius: 8px;
    flex-shrink: 0;
    width: var(--width-item, 124px);
}

.product__composition-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.product__switch {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
}

.product__switch-wrapper {
    display: flex;
    align-items: center;

    background-color: var(--orange);
    width: 56px;
    height: 34px;
    border-radius: 24px;
}

.product__switch-dog {
    margin-left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: #fff;
    box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    transition: transform 300ms ease;
}

.product__switch-dog.active {
    transform: translateX(22px);
}

.product__switch-name {
    margin-left: 12px;
    font-size: 20px;
    line-height: 28px;
}

.product__actions {
    display: flex;
    margin-top: 32px;
    max-width: 424px;
}

.product__actions-favotite path {
    fill: var(--orange);
}

.product__actions-favotite {
    background-color: #fff;
}

.product__price.food__item-price {
    flex-grow: 0;
}

.product__price {
    margin-right: 32px;
}

.product-btn.btn {
    padding: 16px 24px;
    width: auto;
    align-items: center;
    margin-right: 16px;
}

.header__action-btn.product__actions-favotite {
    border-color: transparent;
}

.product__actions-favotite.header__action-btn:hover {
    background-color: #D2D2D7;
}

.header__favorite {}

.product-more {
    margin-bottom: 88px;
}

.product-more__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 34px;
}

.product-more__title.title {
    font-size: 38px;
    line-height: 40px;
}

.product-more__count {
    color: var(--gray);
    font-weight: 500;
    line-height: 40px;
    font-size: 32px;
}

.food__list-wrapper {
    position: relative;
}

.food__list-nav {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
}

.food__list {
    margin-bottom: 88px;
}

.categories-nav__item.disabled:hover .categories-nav__link {
    color: #9E9E9E;
}

.food__item {}

.food__item-header {}

.food__item__header-img {}

.food__item-body {}

.food__item-title {}

.food__item-weight {}

.food__item-characteristics {}

.food__item-characteristic {}

.food__item-footer {}

.food__item-price {}

.food__item-favorite {}

.btn-add-favorite {}

.active {}

.food__item-cart {}

.btn-add-cart {}

.text-block {}

.text-block-text {}

.text-block__btn {}