
.global__block {
    border-radius: 12px;
    background-color: #fff;
    padding: 16px;
}

.global__block + .global__block {
    margin-top: 16px
}

.order-succes {
    color: #1D1D1F;
}

.order-succes__inner {
    padding: 32px 48px 16px 48px;
}

.order-succes__information {
    flex-grow: 1;
}

.order-succes__inner {
    display: flex;
    justify-content: space-between;
}

.order-succes__title {
    margin-right: 138px;
    width: 336px;
    font-weight: 700;
    font-size: 34px;
}

.order-succes__title span {
    padding: 4px 8px;
    background-color: var(--orange);
    border-radius: 12px;
    color: #fff;
}

.order-succes__information {
}

.order-succes__information-title {
    margin-bottom: 16px;
}

.order-succes__list {
    display: flex;
    flex-direction: column;
}

.order-succes__item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.order-succes__item-dotted {
    width: 100%;
    border: 1px #D2D2D7 dashed;
}

.order-succes__item + .order-succes__item {
    margin-top: 8px;
}

.order-succes__item-span {
    white-space: nowrap;
}

.order-succes__item-title {
    font-size: 14px;
    font-weight: 400;
    color: var(--gray);
}

.details__top {
    display: flex;
}

.details__top-order {
    display: flex;
    flex-direction: column;
    margin-inline: 32px 24px;
}

.details__top-count {
    display: flex;
    flex-direction: column;
}

.details__total {
    display: flex;
    flex-direction: column
}

.details__total {
    margin-left: 24px;
}

.details__top-text {
    font-size: 24px;
    font-weight: 700;
}

.details__total-price {
    opacity: 0.7;
}

.details__total-price strong {
    opacity: 1;
}

.details__top-data {

}

.details__top-title {
    font-size: 14px;
    color: var(--border-gray);
}

.details__top-id {
    color: #1D1D1F;
    font-size: 24px;
    font-weight: 700;
}

.details__top-images {
    margin-left: 24px;
    display: flex;
    gap: 16px;
}

.details__top-images div {
    background-color: #F5F5F7;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details__top-count {
    margin-left: auto;
}

.details__bot {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    align-items: start;
}

.details__bot-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 50%;
}

.line {
    border-radius: 4px;
    height: 4px;
    display: block;
    width: 100%;
    margin-top: 10px;
    background-color: #2727270D;
}

.line.active {
    background-color: #1D1D1F;
}

.details__bot-block:last-child::after {
    content: unset;
}

.details__stage {
    background-color: #2727270D;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details__stage:has(.details__stage-num.active) {
    background-color: #55B20B;
    width: 20px;
    height: 20px;
}

.details__stage-num.active {
    background-image: url("../../assets/images/main/done.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 12px;
    height: 8px;
    background-position: center center;
}

.details__bot-block-info {
    font-size: 14px;
    font-weight: 500;
    margin-top: 4px;
    max-width: 160px;
    text-align: center;
}

.details__bot-btn {
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.details__top-btn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.details__top-btn svg {
    width: 100%;
    height: 100%;
}

.details__top-btn:hover {
    background-color: var(--border-gray);
}